html,
body, * {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
/*vertical-align: baseline;*/
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container{
max-width: 1400px; 
margin: auto;
width: 100%;
}

.layout {
  min-height: 100vh;
  position: relative;
}


.marquee-text{
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0;
  color: #f02d34;
}

.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  margin-top: -50px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

 span.text-red {
    -webkit-text-stroke: 1px #f02d34;
    margin-left: 6px;
}


.logo:hover {
  text-decoration: underline;
}



/*.products-heading {*/
/*  text-align: center;*/
/*  margin: 40px 0;*/
/*  color: #1b2b3a;*/
/*}*/

/*.products-heading h2 {*/
/*  font-size: 40px;*/
/*  font-weight: 700;*/
/*}*/
/*.products-heading p{*/
/*  font-size: 16px;*/
/*  font-weight: 300;*/
/*}*/

.cancel{
  cursor: pointer;
}
.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 300px;
  color: #1b2b3a;
}
.item-desc .bottom{
  margin-top: 60px;
}
.flex h5{
  font-size: 24px;
}
.flex h4{
  font-size: 20px;
}
.small-images-container{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image{
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image{
  background-color:#f02d34;
}
.reviews{
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.reviews p{
  color: #324d67;
  margin-top: 0px;
}
.product-detail-desc .price{
  font-weight: 700 ;
  font-size: 26px;
  margin-top: 30px;
  color:#f02d34;
}
.product .cart-product-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}
.price .old-price, .product-price .old-price, .price .old-price{
  color: #324d67;
  text-decoration: line-through;
}
.product-detail-desc .quantity{
  display: flex;
  gap: 20px;
  margin-top: 10px ;
  align-items: center;
}
.product-detail-desc .buttons{
  display: flex;
  gap: 30px;
}
.buttons .add-to-cart{
  padding: 10px 20px;
  border: 1px solid #f02d34 ;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 230px;
   transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover{
  transform:scale(1.1,1.1)
}
.buttons .buy-now{
  width: 200px;

  padding: 10px 20px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
   transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover{
  transform:scale(1.1,1.1)
}

.maylike-products-wrapper{
  margin-top: 50px;
}

.maylike-products-wrapper h2{
  text-align: center;
  margin: 50px;
  color: #1b2b3a;
  font-weight: 600;
  font-size: 28px;
}
.maylike-products-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.max-qty{
  font-weight: 500;
  color: #f02d34;
}
.success-wrapper, .cancel-wrapper{
  background-color: white;
  min-height: 60vh;

}
.success, .cancel{
  width: 1000px;
margin: auto;
margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
   color: green;
   font-size: 40px;
}
.success h2{
  text-transform: capitalize;
  margin-top: 15px;
  font-weight: 900;
  font-size: 40px;
  color:#324d67;
}
.success .email-msg{
   font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p{
  font-size: 20px;
  font-weight: 600;
}
.success .description{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email{
  margin-left: 5px;
  color: #f02d34;
}
.product-max-qty{
  margin-top: 10px;
}

@media screen and (max-width:800px) {

  .maylike-products-wrapper {
    margin-top: 300px;
  }

  .product-detail-container{
    flex-wrap: wrap;
    }
  .product-detail-container .product-detail-image{
    width: 350px;
    height: 350px;
  }
  .cart-container{
    width: 415px;
  padding: 4px;
  }
  .cart-heading{
    margin-top: 35px;
  }
  .product-container{
    margin-top: 10px;
  }
  .product{
    padding: 20px 5px;

  }
  .product .cart-product-image{
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart{
    width: 150px;
  }
  .buttons .buy-now{
    width: 150px;
  }
  .product-detail-container{
    margin: 20px;
  }

.item-desc .flex{
  width: 200px;
}

.top  {
  flex-wrap: wrap;
  gap: 10px;
}

.item-desc .bottom{
  margin-top: 30px;
}
.flex h5{
  font-size: 16px;
   color: #324d67;
}
.flex h4{
  font-size: 16px;
   color: black;
}
.total h3{
  font-size: 20px;
}
.track {
  animation: marquee 10s linear infinite;
  width: 550%;
}
.success-wrapper, .cancel-wrapper{
 
  min-height: 69vh;
}
.success, .cancel {
   width: 370px;
  margin-top: 100px;
  padding: 20px;
}
.success{
  height: 350px;
}
.success h2{
  font-size: 17px;
}
.btn-container{
  width: 300px;
  margin: auto;
}
}

.common-page {
  color: #1b2b3a;
  min-height: 70vh;
  display: flex;
}

.common-page-info-container {
  display: inline-block;
  margin-top: 40px;
  padding: 20px 5vw 30px 5vw;
  border-radius: 15px;
  line-height: 0.9;
  width: 100%;
  background-color: #d1d1d1;
  color: #1b2b3a;

  position: relative;
}

.common-page-heading {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.common-page-info-element h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.return-page-list-element {
  padding-left: 3vw;
  margin-bottom: 6px;
  font-weight: 400;
  line-height: 1.2;
}

.return-page-info p {
  margin-bottom: 6px;
  font-weight: 400;
  line-height: 1.2;
}

.return-page-info h3 {
  margin-top: 26px;
  margin-bottom: 16px;
}

.return-page-little-header {
  margin-bottom: 5px;
}

.contacts-page-info {
  margin-top: 20px;
}

.contacts-page-info h4 {
  margin: 8px 0;
  font-weight: 400;
}

.contacts-page-element {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.contacts-page-element h4 {
  font-weight: 800;
  margin-left: 8px;
}

.delivery-info-element  h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.delivery-info-element p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.delivery-param {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.delivery-param p {
  margin-left: 7px;
  font-weight: 500;
}

.cart-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #1b2b3a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.cart-product-container {
  padding: 20px;
  margin-top: 50px;
}

.cart-product-container h1 {
  margin-bottom: 7px;
}

.cart-product-items {
  background-color: #d1d1d1;
  border-radius: 15px;
  margin-right: 40px;
  margin-top: 10px;
  width: 50%;
  min-width: 400px;
  max-width: 36vw;
  float: left;
  padding: 10px;
}

.cart-product-items h2 {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 800;
}

.cart-product-info {
  width: 30%;
  min-width: 400px;
  float: left;
  padding: 10px;
}

.cart-product-delivery {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #d1d1d1;
  border-radius: 15px;
  margin-bottom: 20px;
}

.cart-product-delivery h2 {
  margin-left: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

input[type="checkbox"] {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
 }

.checkbox {
  border-radius: 6px;
  margin-left: 20px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

.checkbox--active {
  border-color: #f02d34;
  background: #f02d34;
}

.checkbox-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.cart-product-cost {
  background-color: #d1d1d1;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.cart-product-cost h2 {
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 800;
}

.price-tag {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.summary-price {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 15px;
  font-size: 22px;
  font-weight: 700;
}

.cart-empty {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 18px;
}

.go-to-items {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #f02d34;
  color: white;
  width: 240px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}

.client-info {
  background-color: #d1d1d1;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  display: block;
}

.client-info h2 {
  margin-left: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.client-info-field {
  margin-left: 20px;
  margin-right: 20px;
}

.client-info-submit {
  width: 90%;
  padding: 14px 10px;
  margin: 10px 20px 5px 20px;

  border: none;
  border-radius: 10px;
  display: inline-block;

  background-color: #f02d34;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}